@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");

:root {
  --primary-color: #901b1b;
  --secondary-color: #889fa5;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* image properties */
  background-color: #000;
  background-image: url("https://images4.alphacoders.com/209/209148.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  /* else */
  font-family: "Kanit", sans-serif;
  color: #fff;
}

#root {
  max-width: 1200px;
  opacity: 0.95;
  margin: 0 auto;
}

.app-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  /* max-width: 100%; */
}
