@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");

:root {
  --primary-color: #901b1b;
  --secondary-color: #889fa5;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* image properties */
  background-color: #000;
  background-image: url("https://images4.alphacoders.com/209/209148.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  /* else */
  font-family: "Kanit", sans-serif;
  color: #fff;
}

#root {
  max-width: 1200px;
  opacity: 0.95;
  margin: 0 auto;
}

.app-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  /* max-width: 100%; */
  margin-bottom: 2rem;
}

/* form */
form {
  width: 22rem;
  border-radius: 6px;
  padding: 35px 15px 15px;
  box-shadow: 0 8px 8px -4px var(--secondary-color);
}

form input {
  height: 2rem;
  width: 20rem;
  margin-bottom: 30px;
  font-size: 1rem;
}

form button {
  color: #fff;
  font-family: inherit;
  margin-top: auto;
  background-color: #000;
  transition: 200ms;
  cursor: pointer;
  padding: 0 1rem;
  background: transparent;
  border: none;
  font-size: 1rem;
}

form button:hover {
  scale: 1.1;
}

span {
  font-size: 1.5rem;
}

/* modal */
#modal {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal:empty {
  display: none;
}

#modal > div {
  max-width: 500px;
  padding: 15px;
}

#modal button {
  padding: 0.5rem 1rem;
  border: 1px solid #fff;
  font-size: 1rem;
  background: transparent;
  color: #fff;
  cursor: pointer;
}

#modal button:hover {
  color: var(--secondary-color);
}
